{% extends 'home.html' %} 
{% block content %}
<!--link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}"!-->
<style>
    .footer {
        position: fixed;
        padding: 10px 10px 0px 10px;
        bottom: 0;
        width: 100%;
        height: 40px;
        text-align: center;
     
    }
    .welcome{
        padding: 2em 2em 3em 2em;
        margin: 1em;
        background-color: beige;
        text-align: center;
    
    }
    .action{
        margin: 1em;
        padding: 5em 0em 15em 0em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        font-style: inherit;
        background-color: beige;
        text-align: center;
    }
    .image{
        width: 20%;
        height: 20%;
    }
    .head{
        padding-top: 2em ;
    }
   
</style> 
<section class="welcome">
    <div style = "float: left;" class="head">
        <p class="lead ">Welcome to</p>
        <h1>THE TSF BANK</h1>
    </div>
    <div align="right" class="float-right">
        <img class="image" src="https://cdn.nohat.cc/thumb/f/720/comvecteezy348687.jpg">
    </div>
    
    
</section>
<section class="action"> 
    <p>CHOOSE AN ACTION</p>
    <div class="d-grid gap-2 d-md-block">
      <button type="button" class="btn btn-primary btn-sm">Make payment</button>
      <button type="button" class="btn btn-secondary btn-sm">View customers to pay</button>
    </div>
</section>
<footer class="footer">
    Project for The Sparks Foundation &copy;2021
</footer>

{% endblock %}